{% extends 'base.html.twig' %}

{% block main %}
<div class="container mb-5">
    <div class="card mt-5">
        <div class="card-header">Liste des Clients</div>
        <div class="card-body">
            <!-- Filtrage par Surname et Numero -->
                             {{ form_start(form, {'attr': {'class': 'row g-1 align-items-center'}}) }}
    <div class="col-auto">
        {{ form_row(form.numero, {'label': false, 'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Numéro de téléphone'}}) }}
    </div>
    <div class="col-auto">
        {{ form_row(form.surname, {'label': false, 'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Surname'}}) }}
    </div>
    <div class="col-auto">
        {{ form_row(form.createUser, {'label': false, 'attr': {'class': 'form-select form-select-sm'}}) }}
    </div>
    <div class="col-auto">
        {{ form_row(form.recherche,) }}
    </div>
{{ form_end(form) }}


            
            <!-- Table des clients -->
            <div class="table-responsive">
                <table class="table table-light table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Surname</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Telephone</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for client in dataClient %}
                            <tr>
                            <td>{{client.surname}}</td>
                            <td>{{client.adresse}}</td>
                            <td>{{client.Telephone}}</td>
                            <td>
                                <a class="btn btn-primary py-1" href="{{ path('client.dettes', { id: client.id }) }}" role="button">
                                    Dettes
                                </a>
                            </td>
                        </tr>
                        {% else %}
                           Aucun client
                        {% endfor %}
                       
                    </tbody>
                </table>
            </div>
            
            <!-- Bouton pour ajouter un client -->
            <div class="row my-2 d-flex justify-content-end">
                <a href="{{path('client.create')}}" class="btn btn-outline-primary col-1">Créer</a>
            </div>
            
        </div>
           <nav aria-label="Page navigation" class="mt-2">
                    <ul
                        class="pagination float-start   "
                    >
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
    </div>
</div>

{% endblock %}
